//------------------------------------------------------------------------------
// Footer
//------------------------------------------------------------------------------

.Footer {
	padding: 40px 0;
}

.FooterCopy .Copyright {
	border-top: 1px solid $color-footer-border;
	margin-top: 10px;
	padding: 10px 0;
}

@media screen and (max-width: $breakpoint-mobile) {
	.SiteFooter .SiteMenu .InlineNavigation {
		margin-left: -10px;
		margin-right: -10px;
	}
}

//------------------------------------------------------------------------------
// Newsletter Subscribe Form
//------------------------------------------------------------------------------

.SiteFooter #NewsletterSubscribeForm label {
	display: none;
}

.SiteFooter #NewsletterSubscribeForm input {
	border-right-width: 0;
	width: 65%;
}

.SiteFooter #NewsletterSubscribeForm button {
	width: 35%;
}
