//------------------------------------------------------------------------------
// Brand Header
//------------------------------------------------------------------------------

.BrandHeader {
	padding: 30px 0;
}

.BrandHeader .LogoLink > img {
	max-height: 160px;
	max-width: 320px;
}

.BrandHeader #LiveSearch {
	display: inline-block;
	margin-right: 10px;
	min-width: 280px;
	vertical-align: middle;
}

.BrandHeader .CustomerNavigation {
	text-align: right;
	margin-bottom: 10px;
}


//------------------------------------------------------------------------------
// Navigation bar
//------------------------------------------------------------------------------

.NavigationBar .CartButton {
	margin-right: -($grid-gutter + 6px);
	opacity: 0;
	transition: all $transition-fast ease;
	visibility: hidden;
}

.NavigationBar.sticky .CartButton {
	opacity: 1;
	visibility: visible;
}
