//------------------------------------------------------------------------------
// Live Search
//------------------------------------------------------------------------------

.LiveSearch {
	position: relative;
}

.LiveSearch.Active input {
	border-bottom-left-radius: 0;
}

.LiveSearch.Active button {
	border-bottom-right-radius: 0;
}

.LiveSearch.Active .LiveSearchResults {
	opacity: 1;
	padding: 10px 0;
	visibility: visible;
}

.LiveSearchTitle {
	@extend h5;
	margin: 0 0 5px;
	padding: 0 15px;
}

.LiveSearchSeparator {
	border-top: 1px solid $color-body-border;
	margin: 15px 0;
}

//------------------------------------------------------------------------------
// Live Search Results
//------------------------------------------------------------------------------

.LiveSearchResults {
	@include box-shadow(
		0 -1px $color-body-bg,
		0 1px 1px $black-10,
		0 0 0 1px $black-10);
	@include transition($transition-fast);
	background-color: $color-body-bg;
	border-radius: $border-radius;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	font-family: $font-base-1;
	margin-left: 1px;
	margin-top: 1px;
	opacity: 0;
	position: absolute;
	top: 100%;
	visibility: hidden;
	width: calc(100% - 2px);
	z-index: 1000;
}

.LiveSearchResults ul {
	list-style: none;
	margin: 0;
}

.LiveSearchResults a {
	@include truncate;
	display: block;
	padding: 5px 15px;
}

.LiveSearchResults a:hover,
.LiveSearchResults .Active > a {
	background-color: mix(#fff, $color-accent-2, 95%);
	display: block;
	padding: 5px 15px;
}

@media screen and (max-width: $breakpoint-mobile-wide) {
	.LiveSearchResults .SearchFilter {
		display: block;
		margin: 0;
	}
}

//
//
//

.SearchPopularTerms {
	padding: 0 15px;
}

.SearchPopularTerms li {
	display: inline-block;
	margin: 0px 5px 5px 0px;
}

.SearchPopularTerms li a,
.SearchPopularTerms li a:hover {
	background: darken($color-base-2, 5%);
	border-radius: $border-radius;
	display: block;
	padding: 2px 5px;
}
