//------------------------------------------------------------------------------
// Typography
//------------------------------------------------------------------------------

h1, .H1 {
	font-size: 34px;
	line-height: 38px;
}

h2, .H2 {
	font-size: 26px;
	line-height: 30px;
}

h3, .H3 {
	font-size: 23px;
	line-height: 25px;
}

h4, .H4 {
	font-size: 21px;
	line-height: 25px;
}

h5, .H5,
h6, .H6 {
	font-size: 18px;
	line-height: 25px;
}
