$font-base-1:                 'Alegreya Sans', sans-serif !default;
$font-base-2:                 'Source Sans Pro', sans-serif !default;

$color-accent-1:              #4980a2 !default;
$color-accent-2:              lighten($color-accent-1, 15%) !default;
$color-base-1:                #ffffff !default;
$color-base-2:                lighten($color-accent-1, 40%) !default;

$color-header-bg:             $color-accent-1 !default;
$color-navbar-bg:             $color-accent-1 !default;

$color-body-border:           darken($color-base-2, 10%) !default;
$color-drawer-border:         $color-body-border !default;
$color-image-border:          $color-body-border !default;
